<% provide(:title, @taxon.name) %>
<div class="row productListSingle">
<% @products.each do |product| %>
  <div class="col-xs-12">
    <div class="media">
      <div class="media-left">
      <% if product.display_image && product.display_image.attachment? %>
        <%= image_tag product.display_image.attachment(:large) %>
      <% end %>
        <span class="maskingImage"><a data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a></span>
      </div>
      <div class="media-body">
        <%= link_to potepan_product_path(product.id) do %>
        <h4 class="media-heading"><%= product.name %></a></h4>
        <p><%= product.description %></p>
        <h3><%= product.price %></h3>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal"><i class="fa fa-heart" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
