<% provide(:title, @taxon.name) %>
<div class="row">
<% @products.each do |product| %>
  <div class="col-sm-4 col-xs-12">
    <div class="productBox">
      <div class="productImage clearfix">
      <% if product.display_image && product.display_image.attachment? %>
        <%= image_tag product.display_image.attachment(:product) %>
      <% end %>
        <div class="productMasking">
          <ul class="list-inline btn-group" role="group">
            <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
            <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a class="btn btn-default" data-toggle="modal" href=".quick-view" ><i class="fa fa-eye"></i></a></li>
          </ul>
        </div>
      </div>
      <%= link_to potepan_product_path(product.id) do %>
      <div class="productCaption clearfix">
        <h5><%= product.name %></h5>
        <h3><%= product.price %></h3>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>

