<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'layouts/shared/serch/filter_categories' %>
        <%= render 'layouts/shared/serch/filter_price' %>
        <%= render 'layouts/shared/serch/filter_color' %>
        <%= render 'layouts/shared/serch/filter_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'layouts/shared/serch/filter_area' %>
        <%= render @partial, locals: { products: @products } %>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/categories/slide_image' %>
