<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#category-<%= @category.id %>"><%= @category.name %><i class="fa fa-plus"></i></a>
          <ul id="category-<%= @category.id %>" class="collapse collapseItem">
            <% @category.leaves.each do |category_taxon| %>
            <li>
              <%= link_to potepan_category_path(category_taxon.id) do %>
                <i class="fa fa-caret-right" aria-hidden="true"></i><%= category_taxon.name %><span>(<%= category_taxon.products.count %>)</span>
              <% end %>
            </li>
            <% end %>
          </ul>
        </li>
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#<%= @brand.name %>"><%= @brand.name %><i class="fa fa-plus"></i></a>
          <ul id="<%= @brand.name %>" class="collapse collapseItem">
            <% @brand.leaves.each do |brand_taxon| %>
            <li>
              <%= link_to potepan_category_path(brand_taxon.id) do %>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i><%= brand_taxon.name %><span>(<%= brand_taxon.products.count %>)</span>
              <% end %>
            </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
