<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <%= render 'layouts/shared/head/rails_default' %>
    <%= render 'layouts/shared/head/site_title' %>
    <%= render 'layouts/shared/head/shim' %>
  </head>
  <body>
    <div class="main-wrapper">
      <div class="header clearfix">
        <%= render 'layouts/shared/header/topbar' %>
        <%= render 'layouts/shared/header/navbar' %>
      </div>
      <%= render 'layouts/shared/section/light_section' %>
      <%= yield %>
      <%= render 'layouts/shared/footer/footer' %>
      <%= render 'layouts/shared/footer/copy_right' %>
      <%= render 'layouts/shared/modal/login_modal' %>
      <%= render 'layouts/shared/modal/signup_modal' %>
      <%= render 'layouts/shared/modal/product_quick_view_modal' %>
    </div>
  </body>
</html>
